{% extends "_base.html" %}

{% block content %}

        <div class="col-lg-12">
	  <form action="/query" method="POST">
	    <div class="input-group input-group-lg">
	      <span class="input-group-addon" id="search-text">Search</span>
	      <input name="query" type="text" class="form-control" placeholder="by gene, variant, or region" required>
	      <span class="input-group-btn">
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	      </span>
	    </div>
	  </form>
	</div>

	<br /> <br /> <br />

        <div class="col-lg-12">	
	{% if query %}
	<p>Query: {{ query }} </p>
	{% endif %}
	
	{% if results %}
	<p>Results: {{ results|length }} </p>
	{% endif %}
	<table id="sorterabraom" class="table table-hover table-condensed">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Position <span class="caret"></span></th>
	      <th>Change <span class="caret"></span></th>
	      <th>Annotation <span class="caret"></span></th>
	      <th>FILTER <span class="caret"></span></th>
	      <th>Allele Freq. [AC:AN] <span class="caret"></span></th>
	    </tr>
	  </thead>

	  <tbody>
	    {% for result in results %}
	    <tr>
	      <th>{{ loop.index }} </th>
	      <td>chr{{ result.Chr }}:{{ result.Start }}</td>
	      <td>{{ result.Ref }}:{{ result.Alt }}</td>
	      <td>
		{{ result.Gene_refGene }} <br />
		{{ result.Gene_ensGene }} <br />
		{{ result.avsnp144 }} <br />
		{{ result.Func_refGene }} <br />
		{{ result.Regulatory }}
	      </td>
	      <td>
	      	{{ result.FILTER }} <br />
	      </td>
	      <td>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ result.AF*100.0 }}%">{{ result.AF }} [{{ result.AC }}:{{ result.AN }}]</div>
		</div>
			<script src="static/js/jquery-1.10.2.min.js"></script>
  			<script src="static/js/jquery.tablesorter.min.js"></script>
  			<script type="text/javascript">
        		$(function(){
        			$("#sorterabraom").tablesorter(); 
        		});
  			</script>
	      </td>
	    </tr>

	    {% endfor %}
	  </tbody>
	</table>


{% endblock %}
